// app global css
html
  color #585858
  background-color #f3f2f0

.bg-tertiary
  background-color $tertiary
.bg-fourth
  background-color $fourth
.bg-fifth
  background-color $fifth
.bg-six
  background-color $six
.bg-primary-lighten
  background-color $primaryligthen

.text-tertiary
  color $tertiary
.text-fourth
  color $fourth
.text-fifth
  color $fifth
.text-six
  color $six


h1
  font-size 2em
  line-height 1.1em
  font-weight 500
  margin 0 0 20px
h2
  font-size 1.6em
  line-height 1.5em
  color $grey-8
h6
  margin 25px 0 10px;
.q-header
  background: linear-gradient(90deg,$primary 20%,$primaryligthen 75%);
  a
  &.q-btn
    display inline-flex
    .q-toolbar__title
      margin-left 5px


.q-item.q-router-link--active,
.q-item--active
  background-color #FFF
  color $primaryligthen

.q-page
  padding-top 50px
  margin-top 15px


.home
  h1
    margin 0
  h2
    font-size 1.22em
    margin-top 0
  .q-btn
    margin 1em
    width 140px
    height 140px

.q-card
  box-shadow none

.c-btn-upload
  margin-right 8px

.badge-container
  padding 0 15px

.q-btn-group > .q-btn-item:not(:last-child)
  border-right 1px solid $grey-11

.q-btn-group
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), 0 2px 2px rgba(0,0,0,0.1), 0 3px 1px -2px rgba(0,0,0,0.12);
