// app global css
.bg-primary-lighten
  background-color $primaryligthen

.q-header
  background: linear-gradient(90deg,$primary 20%,$primaryligthen 75%);
  a
  &.q-btn
    display inline-flex
    .q-toolbar__title
      margin-left 5px

